<my-header [total]="total"></my-header>

<div class="main-container">
	<div class="product-head">
		<div class="title">
			<h2>{{appliedFilterName}}</h2>
			<span class="product-count">{{products.length}} товаров</span>
		</div>
	</div>

	<div class="filters">
		<div *ngFor="let filter of filters">
			<div class="filter-name"
			     (click)="applyFilter(filter.group)"
			     [ngClass]="{'applied-filter': filter.group.text == appliedFilterName}">
				{{filter.group.text}}
				<span class="filter-count">{{counts[filter.group.value]}}</span>
			</div>

			<div *ngFor="let subFilter of filter.subGroups">
				<div class="filter-name"
				     (click)="applyFilter(subFilter)"
				     [ngClass]="{'applied-filter': subFilter.text == appliedFilterName}">
					{{subFilter.text}}
					<span class="filter-count">{{counts[subFilter.value]}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="products">
		<div *ngFor="let product of products" class="product">
			<img src="{{product.img}}">

			<div class="product-price">
				{{product.price.toFixed(2)}} р.
			</div>

			<div class="product-info">
				{{product.brandName}}
				<span class="product-info-group">
					/ {{getGroupNameTextByValue(product.group)}}
				</span>
			</div>

			<div class="product-sizes" *ngIf="groups.clothes.indexOf(product.group) !== -1">
				<div *ngFor="let size of clothesSizes" class="product-size"
				     (click)="total = total + product.price">
					{{size}}
				</div>
			</div>

			<div class="product-colors" *ngIf="groups.accessories.indexOf(product.group) !== -1">
				<div *ngFor="let color of accessoriesColors" class="product-color"
				     [ngStyle]="{'background-color' : color}"
				     (click)="total = total + product.price">
				</div>
			</div>
		</div>
	</div>

	<i (click)="topFunction()" id="scrollTop" class="material-icons">arrow_upward</i>
</div>
