my-header {
	display: block;
	height: 50px;
	position: sticky;
	top: 0px;
	z-index: 10;
}

.main-container {
	width: 1200px;
	padding: 20px 0px;
	margin: auto;
}

.main-container .product-head {
	width: 100%;
	border-bottom: 3px solid #222;
	padding-bottom: 12px;
	margin-bottom: 20px;
}

.main-container .product-head .title {
	font-weight: 500;
	font-size: 19px;
}

.main-container .product-head .title h2 {
	display: inline;
	font-size: inherit;
	vertical-align: top;
	margin-right: 10px;
	font-weight: 700;
}

.main-container .product-head .title .product-count {
	display: inline-block;
	color: #999;
	font-size: 12px;
}

.main-container .filter-name {
	padding: 5px 10px;
	font-size: 13px;
	width: fit-content;
}

.main-container .filter-name:hover {
	color: #3265e6;
	cursor: pointer;
	transition: color 0.5s;
}

.main-container .filter-name.applied-filter {
	background: #231F20;
	color: white;
	border-radius: 5px;
}

.main-container .filters {
	width: 250px;
	vertical-align: top;
}

.main-container .filters .filter-count {
	color: #bbbbbb;
	font-size: 10px;
	padding-left: 5px;
}

.main-container .products {
	width: 945px;
	margin: auto;
}

.main-container .filters,
.main-container .products,
.main-container .product {
	display: inline-block;
}

.main-container .products .product {
	width: 225px;
	margin: 0px 5px 10px 5px;
	min-height: 370px;
	vertical-align: top;
}

.main-container .products .product img {
	width: 100%;
}

.main-container .products .product:hover {
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	z-index: 3;
	position: relative;
	top: -12px;
	left: -11px;
	margin-right: -17px;
	margin-bottom: -12px;
}

.main-container .products .product .product-price {
	font-weight: bold;
	font-size: 14px;
}

.main-container .products .product .product-info {
	font-size: 12px;
}

.main-container .products .product .product-info .product-info-group {
	color: #999999;
}

.main-container .products .product .product-sizes,
.main-container .products .product .product-colors{
	margin-top: 10px;
	display: none;
	position: absolute;
	width: calc(100% - 10px);
	padding-left: 10px;
	padding-bottom: 10px;
	background: white;
	border: 1px solid #ccc;
	border-top: none;
	left: -1px;
}

.main-container .products .product:hover .product-sizes,
.main-container .products .product:hover .product-colors {
	display: block;
}

.main-container .products .product .product-sizes .product-size,
.main-container .products .product .product-colors .product-color {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.main-container .products .product .product-sizes .product-size {
	font-size: 12px;
	text-align: center;
	border: 1px solid black;
	line-height: 25px;
	margin-right: 5px;
}

.main-container .products .product .product-sizes .product-size:hover {
	background: #3265e6;
	border-color: #3265e6;
	color: white;
	cursor: pointer;
}

.main-container .products .product .product-colors .product-color:hover {
	cursor: pointer;
	filter: brightness(80%);
}

#scrollTop {
	opacity: 0;
	position: fixed;
	bottom: 20px;
	right: 30px;
	color: #999999;
	font-size: 33px;
	transition: opacity linear 0.5s;
}

#scrollTop:hover {
	color: #222222;
	cursor: pointer;
}
