.header {
	width: 100%;
	height: 50px;
	background: #222;
}

.header .logo {
	height: 24px;
	padding: 13px 0px;
	padding-left: 100px;
}

.header .width-wrapper {
	margin: auto;
	float: right;
}

.header .width-wrapper .header-top-item {
	height: 100%;
	position: relative;
	color: #fff;
	padding-right: 20px;
	font-size: 11px;
	display: inline-block;
}

.header .width-wrapper .header-top-item.yellow-item {
	background: #ffe65a;
	color: black;
}

.header .width-wrapper .header-top-item i {
	margin: 10px;
	font-size: 30px;
	vertical-align: -10px;
}

.header .width-wrapper .header-top-item.total {
	font-size: 14px;
}



