<div class="header">
	<img class="logo" src="../../img/logo-balenciaga.png">

	<div class="width-wrapper">
		<a class="header-top-item yellow-item">
			<i class="material-icons">local_shipping</i>
			Бесплатная доставка!
		</a>
		<a class="header-top-item">
			<i class="material-icons">credit_card</i>
			Оплата при получении
		</a>
		<a class="header-top-item">
			<i class="material-icons">assignment_turned_in</i>
			Подлинные товары
		</a>

		<a class="header-top-item total">
			<i class="material-icons">local_mall</i>
			{{total.toFixed(2)}} р.
		</a>
	</div>
</div>
