@font-face {
	font-family: Poppins;
	src: url(fonts/Poppins-Light.otf);
}

@font-face {
	font-family: Poppins-Semi-Bold;
	src: url(fonts/Poppins-SemiBold.otf);
}

@font-face {
	font-family: Poppins-Bold;
	src: url(fonts/Poppins-Bold.otf);
}

body {
	margin: 0px;
	font-family: 'Open Sans',sans-serif;
}

::selection {
	background: none;
}

@keyframes outin {
	0% {
		transform: rotate(0deg);
	}
	25% {
		border-top-color: #231F20;
		border-right-color: #231F20;
	}
	50% {
		border-top-color: #414042;
		border-right-color: #414042;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: #58595B;
		border-right-color: #58595B;
	}
}

@keyframes mid {
	0% {
		transform: rotate(0deg)
	}
	25% {
		border-top-color: #231F20;
		border-left-color: #231F20;
	}
	50% {
		border-top-color: #414042;
		border-left-color: #414042;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: #58595B;
		border-left-color: #58595B;
	}
}

.spiner {
	position: absolute;
	display: block;
	left: calc(50% - 100px);
	top: calc(50% - 150px);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 0px solid #fff;
	border-top: 0px solid #231F20;
	border-right: 3px solid #231F20;
	animation: outin 3s linear infinite;
}

.spiner:before {
	position: absolute;
	display: block;
	content: "";
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 0px solid #fff;
	border-top: 0px solid #231F20;
	border-left: 3px solid #231F20;
	left: 25%;
	top: 50px;
	animation: outin 3s linear infinite;
}

.spiner:after {
	position: absolute;
	display: block;
	content: "";
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 0px solid #fff;
	border-top: 0px solid #231F20;
	border-right: 3px solid #231F20;
	left: 10%;
	top: 25px;
	animation: mid 3s linear infinite;
}
